* {
    -base-00: #181818;
    -base-01: #282828;
    -base-02: #383838;
    -base-03: #585858;
    -base-04: #b8b8b8;
    -base-05: #d8d8d8;
    -base-06: #e8e8e8;
    -base-07: #f8f8f8;
    -base-08: #ab4642;
    -base-09: #dc9656;
    -base-0A: #f7ca88;
    -base-0B: #a1b56c;
    -base-0C: #86c1b9;
    -base-0D: #7cafc2;
    -base-0E: #ba8baf;
    -base-0F: #a16946;
}