/* Scheme: "Twilight"*/
/* Author: "David Hart (https://github.com/hartbit)"*/
/* CSS: "The_Evil_Dice" */

* {
    -base-00: #1e1e1e;
    -base-01: #323537;
    -base-02: #464b50;
    -base-03: #5f5a60;
    -base-04: #838184;
    -base-05: #a7a7a7;
    -base-06: #c3c3c3;
    -base-07: #ffffff;
    -base-08: #cf6a4c;
    -base-09: #cda869;
    -base-0A: #f9ee98;
    -base-0B: #8f9d6a;
    -base-0C: #afc4db;
    -base-0D: #7587a6;
    -base-0E: #9b859d;
    -base-0F: #9b703f;
}